*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem 1rem 3rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.logo h2{
    text-transform: uppercase;
    padding-top: 1.3rem;
}

.logo span{
    color: #002F5C;
}

.wrapper__1{
    display: flex;
}

.logo img {
    width: 100px;
}

.search-bar{
    padding-left: 5rem;
    padding-top: 1rem;
}

.search-bar input {
    padding: 10px 15rem 10px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.first__nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    padding: 2rem 15px 8px 15px;
}

.bottom__nav{
    padding: 0px 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.auth-buttons{
    justify-self: flex-end;
    padding-left: 20rem;
    padding-top: .8rem;
}

.auth-buttons a {
    text-decoration: none;
    /*margin-left: 10px;*/
    padding: 10px 25px;
    border-radius: 20px;
}

.sign-in {
    color: #333;
    font-weight: 600;
}

.hire {
    background-color: #002F5C;
    color: #fff;
}


.join{
    border: 1px solid black;
    color: black;
}


.main__container {
    display: flex;
    gap: 4px;
    padding: 50px 0px;
}

section {
    width: 50%;
    padding: 20px;
}

.buyer {
    background-color: #002F5C;
    color: #fff;
}

.seller {
    display: flex;
    gap: 2rem;
    background-color: #D36540;
    color: #fff;
    position: relative;
}

.together__1{
    padding: 6rem 2.5rem;
}



.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 30px;
    text-decoration: none;
}

.right__cont{
    max-width: 50%;
}

.container__para{
    line-height: 25px;
}


.carousel-container {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.carousel__header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: start;
    padding-left: 5rem;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
    width: 90%;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide {
    min-width: 20%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    list-style-type: none;
}

.carousel-slide img {
    width: 100%;
    border-radius: 5px;
 
    
}

.carou_para{
    text-align: start;
}
.carousel-control {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}

.change-height{
    height: 70%;
}

